body{
    font-family: "Hind Siliguri", sans-serif;
    padding: 0;
    width: 100%;
    scale: 1.01;
    margin-left:10px;
    position:sticky;
}
header{
    position: sticky;
    top:0;
}
.title{
text-align: center;
color: rgb(255, 92, 92);
width: 80%;
margin: 0 auto;
padding: 0px;
background: linear-gradient(
      90deg,
      rgba(187, 230, 255, 0.616) 0%,
      rgba(13, 158, 241, 0.4) 70%
    );backdrop-filter: blur(10px);
   border-radius: 50px ; 
}
.basics h2{
    text-align: center;
    color: rgb(39, 34, 46);
    margin-top: -10px;
    text-decoration:underline;
    
}
.basics ul{
    margin-top: -10px;
}
.basics ul li{
    list-style-type:decimal-leading-zero;
    font-size: 20px;
    font-weight: 500;
    font-family: "Tiro Bangla", serif;
}
.basics ul li span{
    font-size: 16px;
    font-family: sans-serif;
}
span.a{
    font-size: 22px;
    font-weight: 600;
    font-family: "Hind Siliguri", sans-serif;
    text-decoration: underline;
    color: rgb(255, 94, 0);
    margin-left: 10px;
}
span.c{
    font-size: 20px;
    font-weight: 700;
    color: red;
}
h4{
    margin-left:10px
}
hr{
    margin-top:-10px
}
.basics h3, .qus h3{
    text-align: center;
    border-bottom: 1px dotted gray;
   background-color: rgb(79, 149, 255);
    color: rgb(255, 255, 255);
    border-top: 1px dotted gray;
    letter-spacing: 2px;
    font-family: 'MyCustomFont';
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    text-shadow: 1px 3px rgb(0, 0, 0);
    margin-left: -58px;
}

ul ul li {
    font-family: "Baloo Da 2", sans-serif;
    font-weight: 600;
}
.ad{transition: all 400ms ease}
span.qus{
    font-size: 18px;font-weight: 700; text-decoration: underline;color: rgb(0, 153, 255);
    border:1px solid rgb(201, 201, 201);
    border-radius: 10px;
    background: rgb(223, 222, 222);
    padding: 2px;
    transition: all 400ms ease;
}
span.qus:hover{color:white;background-color: rgb(135, 163, 255);text-decoration: none;cursor: pointer;}
.ad span:hover{color: rgb(245, 0, 0);background-color: rgb(173, 188, 238);padding: 2px;border-radius: 10px;transition: all 400ms ease;text-decoration: none;cursor: pointer;}
.qus li {
    font-family:  "Hind Siliguri", sans-serif;
}
.ch li{
    font-family:  "Hind Siliguri", sans-serif;
}
.ss li{
    list-style:square;
    font-family: "Hind Siliguri", sans-serif;
}
/* .img {
   display:flex ;
} */
/* table */
table{
    border-collapse: collapse;
    width:50%;
    text-align: center;
    margin:0 auto;
    background: rgb(248, 255, 234);
    margin-bottom: 16px;
    
    
   }
   th{
    border: 1px solid red;background: rgb(201, 198, 198);
   height: 30px;}
   td{
    border: 1px solid red;font-size: 18px;
    height: 30px;font-family:"Hind Siliguri", sans-serif;}
    @media only screen and (max-width: 768px) {
       body{
        margin-left: 0px;
       
       }
       .basics h3, .qus h3{
        font-size: 30px;
       }
    }
    @font-face {
        font-family: 'MyCustomFont';
        src: url('https://raw.githubusercontent.com/itzpcgamerhasan/Fonts/main/head_linebangla.ttf');
    }
   
